html, body {
  height: auto;
}

body {
  overflow-x: hidden;
  width: 100vw;
  /* overflow-y: auto; */
}

#smooth-content {
  will-change: transform;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
} */

.water_animation_container {
    height: 100vh;
    background-size: contain;
    position: relative;
    overflow: hidden;
    display: block;
}

.aqualens_title,
.act1_section {
  position: absolute;
  z-index: 1;
  color: white;
}

.aqualens_title {
  font-family: 'Futura';
  font-weight: bold;
  /* font-size: 76px; */
  font-size: 5vw;
  top: 20%;
  left: 10%;
  /* -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: rgb(158, 181, 203); */
  text-shadow: 0 0 10px rgba(158, 181, 203, 1);
}

.pin_section {
  position: relative;
  width: 100vw;
}

.scene1 {
  position: relative;
  width: 100vw;
}

.at_the_surface {
  width: 100vw;
  height: 250vh;
  object-fit: cover;
  object-position: top;
  display: block;
  z-index: 0;
  padding: 0;
  margin: 0;
  -webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
  background-size: contain;
}

.blink_vid{
  /* height: 100%; */
  width: 100vw;
  /* height: 100%; */
  margin: 0%;
  padding: 0%;
  display: block;
  will-change: transform;
}

.at_the_surface,
.blink_vid {
  display: block;
}

.act1_section {
  bottom: 16%;
  left: 20%;
  padding-right: 4%;
  z-index: 10;
}

.act1_text_section_2 {
  bottom: 10%;
  left: 20%;
  padding-right: 4%;
  z-index: 10;
}

.act1_text {
  color: white;
  font-size: 2vw;
  width: 80%;
  opacity: 0;
  transform: translateY(20px);
}
/* 
.act1_text_2 {
  color: white;
  font-size: 2vw;
  width: 80%;
  opacity: 1;
} */

#dive_button {
  position: absolute;
  bottom: 10%;
  right: 25%;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  background: white;
  border: none;
  color: #222;
  border-radius: 5px;
  transition: transform 0.2s ease;
  z-index: 1001;
}

#dive_button:hover {
  transform: scale(1.05);
}

#explore_button {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  background: white;
  border: none;
  color: #222;
  border-radius: 5px;
  transition: transform 0.2s ease;
  z-index: 1001;
}

#explore_button:hover {
  transform: scale(1.05);
}

/* section.vid {
  height: 3000px;
  background-color: white;
}

section.vid div.holder {
  position: sticky;
  top: 0;
}

section.vid video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
} */

.picture {
  width: 100vw;
  object-fit: cover;
  display: block;
  z-index: -10;
  padding: 0;
  margin: 0;
  background-size: contain;
}

.pin_section_2 {
  position: relative;
  width: 100vw;
}

.scene2 {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* or a value that makes sense */
}

.act2_pollutant_section {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
}

#nitrate {
  position: absolute;
  max-width: 100%; 
  z-index: 3;
  animation: bobbing 2s infinite alternate ease-in-out;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
}

#ammonium {
  position: absolute;
  max-width: 100%; 
  z-index: 3;  
  animation: bobbing 1.8s infinite alternate ease-in-out;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.425));
}

#plastic_bag {
  position: absolute;
  max-width: 100%; 
  z-index: 3;
  animation: bobbing 1.9s infinite alternate ease-in-out;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.28));
}

.nitrate_container {
  position: absolute;
  top: 7%;
  left: 10%;
  width: 15%;
  z-index: 1000;
}

.ammonium_container {
  position: absolute;
  top: 19%;
  right: 10%;
  width: 15%;
  z-index: 1000;
}

.plastic_bag_container {
  position: absolute;
  top: 31%;
  /* transform: translateX(505%); */
  right: 30%;
  width: 12%;
  z-index: 1000;
  /* overflow: hidden; */
}

  @keyframes bobbing {
    0% {
      transform: translateY(0); /* Start at original position */
    }
    50% {
      transform: translateY(7%); /* Move up 20px */
    }
    100% {
      transform: translateY(0); /* Return to original position */
    }
  }

.tooltip {
  position: relative;
  transform: translateX(34.5%);
  color: black;
  background:white;
  border-radius: 1vw;
  width: 50vw;
  /* max-width: 50vw; */
  /* height:150px; */
  padding: 8% 12%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-wrap: wrap;
}

.tooltip:before {
    content:"";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 40%;
    left: -3.8%; /* 1px buffer for zooming problems while rendering*/
    border-width: 1vw;
    border-color: transparent white transparent transparent;
    border-style: solid;
}

.tooltip_left {
  position: relative;
  /* bottom: -150px; */
  transform: translateX(-105%); /* Adjust to move tooltip beside image */
  color: black;
  background:white;
  border-radius: 1vw;
  width: 50vw;
  /* height:150px; */
  padding: 8% 12%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-wrap: wrap;
}

.tooltip_left:after {
    content:"";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 40%;
    right: -3.8%; /* 1px buffer for zooming problems while rendering */
    border-width: 1vw;
    border-color: transparent transparent transparent white;
    border-style: solid;
}

.tooltip_lefter {
  position: relative;
  /* bottom: -150px; */
  transform: translateX(-105%); /* Adjust to move tooltip beside image */
  color: black;
  background:white;
  border-radius: 1vw;
  width: 50vw;
  /* height:150px; */
  padding: 8% 12%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  text-wrap: wrap;
}

.tooltip_lefter:after {
    content:"";
    position: absolute;
    height: 0%;
    width: 0%;
    top: 40%;
    right: -3.8%; /* 1px buffer for zooming problems while rendering */
    border-width: 1vw;
    border-color: transparent transparent transparent white;
    border-style: solid;
}

.tooltip_text {
  font-size: 2vw;
  color: rgb(37, 37, 37);
}

.nitrate_container:hover .tooltip {
  opacity: 1;
}

.ammonium_container:hover .tooltip_left {
  opacity: 1;
}

.plastic_bag_container:hover .tooltip_lefter {
  opacity: 1;
}

.act2_text_section_1 {
  position: absolute;
  top: 45%;
  left: 17%;
  z-index: 10;
}

.act2_text_1 {
  color: white;
  font-size: 2vw;
  width: 80%;
  opacity: 0;
  text-align: left;
}

.act2_text_section_2 {
  position: absolute;
  bottom: 4.59%;
  right: 5.5%;
  z-index: 10;
  width: 75%;
}

.act2_text_2 {
  color: white;
  font-size: 2vw;
  width: 100%;
  opacity: 0;
}

#explore_the_data_button {
  position: absolute;
  bottom: 13%;
  right: 12%;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  background: white;
  border: none;
  color: #222;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

#explore_the_data_button:hover {
  transform: scale(1.05);
}

#join_linkedin_button {
  position: absolute;
  bottom: 5%;
  right: 12%;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  background: white;
  border: none;
  color: #222;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

#join_linkedin_button:hover {
  transform: scale(1.05);
}

#explore_the_projects_button {
  position: absolute;
  bottom: 5%;
  right: 12%;
  padding: 1vw 2vw;
  font-size: 1.5vw;
  cursor: pointer;
  background: white;
  border: none;
  color: #222;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

#explore_the_projects_button:hover {
  transform: scale(1.05);
}

.scene3 {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* or a value that makes sense */
}

.pin_section_3 {
  position: relative;
  width: 100vw;
}

.quote {
  position: absolute;
  width: 100%;
}

.quote_text_container {
  position: absolute;
  z-index: 100;
  left: 13.9%;
  padding-top: 3.4%;
  padding-right: 5%;
  /* border: solid 1px black; */
  width: 83%;
  text-wrap: wrap;
  height: 100%;
}

.quote_text_container_right {
  position: absolute;
  z-index: 100;
  padding-top: 5.3%;
  left: 8.3%;
  /* border: solid 1px black; */
  width: 83%;
  text-wrap: wrap;
  height: 100%;
  margin-inline: auto; 
  /* width: fit-content; */
  /* border: red solid 2px;  */
}

.quote_text_container_right_2 {
  position: absolute;
  z-index: 100;
  padding-top: 3.4%;
  padding-right: 4.5%;
  left: 8.8%;
  /* border: solid 1px black; */
  width: 83%;
  text-wrap: wrap;
  height: 100%;
  margin-inline: auto; 
  /* width: fit-content; */
  /* border: red solid 2px;  */
}

.quote_text {
  color: black;
  font-size: 1.7vw;
  /* border: red solid 2px;  */
}

#quote_1 {
  position: absolute;
  top: 5.8%;
  left: 16%;
  width: 60%;
  z-index: 3;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.05s ease-out;
}

#quote_2 {
  position: absolute;
  top: 21.3%;
  right: 16.5%;
  width: 60%;
  z-index: 3;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.05s ease-out;
}

#quote_3 {
  position: absolute;
  top: 36.3%;
  left: 16%;
  width: 60%;
  z-index: 3;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.05s ease-out;
}

#quote_4 {
  position: absolute;
  top: 52.2%;
  right: 16.5%;
  width: 60%;
  z-index: 3;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.05s ease-out;
}

#quote_5 {
  position: absolute;
  top: 66.8%;
  left: 16%;
  width: 60%;
  z-index: 3;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.05s ease-out;
}

.quoter_text {
  color: white;
  font-size: 2.5vw;
}

#quoter_1 {
  position: absolute;
  top: 17%;
  left: 4.5%;
  width: 60%;
  z-index: 100;
}

#quoter_2 {
  position: absolute;
  top: 32.7%;
  right: -41.2%;
  width: 60%;
  z-index: 100;
}

#quoter_3 {
  position: absolute;
  top: 48%;
  left: 4.5%;
  width: 60%;
  z-index: 100;
}

#quoter_4 {
  position: absolute;
  top: 63.8%;
  right: -37.7%;
  width: 60%;
  z-index: 100;
}

#quoter_5 {
  position: absolute;
  top: 78.6%;
  left: 4.7%;
  width: 60%;
  z-index: 100;
}

.act3_text_section {
  position: absolute;
  z-index: 10;
  bottom: 10.5%;
  left: 17.8%;
}

.act3_text{
  color: white;
  font-size: 2.5vw;
  width: 90%;
  opacity: 0;
}

.scene4 {
  position: relative;
  width: 100vw;
  min-height: 100vh; /* or a value that makes sense */
}

#hand_container {
  position: absolute;
  top: 7.4%;
  left: -48.05%;
  width: 48.1%;
  z-index: 3;
}

#hand { 
  position: absolute;
  width: 100%;
  z-index: 3;
}

.act4_text_section {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
}

.act4_text{
  color: white;
  font-size: 3.5vw;
  width: 90%;
  opacity: 1;
}

.project_container {
  position: absolute;
  z-index: 10;
  width: 70%;
  height: 15%;
  left: 15%;
  background-color: white;
  border-radius: 25px;
  top: 0%;
  border: solid 4px white;
  padding-top: 2.5%;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-bottom: 2.5%;
}

.project_title {
  font-size: 2.25vw;
}

.project_text {
  width: 64%;
  font-size: 1vw;
}

.project_image {
  position: absolute;
  width: auto;
  height:86%;
  right: 3.5%;
  top: 7%;
  border-radius: 2%;
}

.pin_section_5 {
  position: relative;
  width: 100vw;
}

.scene5 {
  position: relative;
  width: 100vw;
  /* border: solid 2px black; */
}

#act5_text_section_1 {
  position: absolute;
  z-index: 10;
  bottom: 58%;
  left: 22%;
  width: 70%;
}

#act5_text_section_2 {
  position: absolute;
  z-index: 10;
  bottom: 34%;
  left: 37%;
}

#act5_text_1 {
  color: white;
  font-size: 2vw;
  width: 100%;
  opacity: 0;
  /* transform: translateY(20px); */
}

#act5_text_2 {
  color: white;
  font-size: 4vw;
  width: 100%;
  opacity: 0;
  /* transform: translateY(20px); */
}

.surface_vid{
  /* height: 100%; */
  width: 100vw;
  margin: 0%;
  padding: 0%;
  position: relative;
  display: block;
  /* z-index: -1; */
}

.explore {
  position: relative;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
}

#about_initiative{
  margin: 0% 10% 5% 10%;
  display: flex;
}

#about_initiative_title_container{
  flex: 1;
  padding-right: 3%;
  align-self: center;
}

#about_initiative_title{
  font-size: 4.5vw;
  font-weight: bold;
  text-align: right;
  line-height: 4.8vw;
}

#about_initiative_text_container{
  flex: 3;
  align-self: center;
}

#about_initiative_text{
  font-size: 1.75vw;
  line-height: 2.47vw;
}

.what_next {
  text-align: center;
  /* font-family: Arial, sans-serif; */
  font-weight: bold;
  font-size: 56px;
  padding-bottom: 26px;
}

.website_sections {
  display: flex;
  justify-content: space-between   ;
  gap: 30px; /* Minimum spacing */
  padding: 20px;
  flex-wrap: nowrap;
}

.section_box {
  width: 300px;
  height: 300px;
  background-color: rgb(164, 181, 202);
  border: rgb(164, 181, 202) solid 0.8px;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  padding: 10%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.section_box:hover {
  background-color: white;
  border: black solid 0.8px;
  color: black;
}

/* Stack vertically if boxes + gaps won't fit */
@media (max-width: 1080px) {
  /* 3 boxes * 100px + 2 gaps * 30px = 360px */
  .website_sections {
    flex-direction: column;
    gap: 20px; /* vertical spacing when stacked */
    align-items: center; /* optional: center vertically stacked boxes */  
}
}

#meet_froggy {
  position: relative;
  background-color: rgb(217, 217, 217);
  width: 100%;
  padding: 5% 10%;
  display: flex;
  border-radius: 20px;
  margin-top: 5%;
  gap: 10%;
}

#froggy_title_container {
  border: 0;
}

#froggy_title {
  font-size: 280%;
  font-weight: bold;
}

#froggy_text_container {
  border: 0;
}

#froggy_text {
  font-size: 200%;
}

#froggy_button {
  font-size: 130%;
  cursor: pointer;
  background-color: rgb(50, 99, 161);
  color: white;
  padding: 18px;
  border-radius: 6px;
  margin-top: 10px;
  border: none;
  transition: all 0.2s ease-in-out;
}

#froggy_button:hover {
  background-color: rgb(149, 173, 203);
  color: white;
  transform: scale(1.05);
}

#froggy_img_container {
  background-color: white;
  padding: 22%;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  align-self: center;
}

#froggy_img {
  width: 100%;
  height: auto;
  align-self: center;
}

#meet_froggy_container {
  align-self: center;
  /* margin-left: 100px; */
}

.meet_froggy_coontainers {
  border: 0;
  padding: 0;
}

/* Stack vertically if boxes + gaps won't fit */
@media (max-width: 1080px) {
  /* 3 boxes * 100px + 2 gaps * 30px = 360px */
  .meet_froggy_containers {
    flex-direction: column;
    gap: 20px; /* vertical spacing when stacked */
    align-items: center; /* optional: center vertically stacked boxes */  
    text-align: center;
}
}